Reference to L3NM model?

Comment from Mohamed Boucadair on TCPM list:

>       This version of the L3NM assumes that TCP-AO specific parameters
>       are preconfigured as part of the key-chain that is referenced in
>       the L3NM.  No assumption is made about how such a key-chain is
>       pre-configured.  However, the structure of the key-chain should
>       cover data nodes beyond those in [RFC8177], mainly SendID and
>       RecvID (Section 3.1 of [RFC5925]).
> 
> draft-ietf-tcpm-yang-tcp can be updated to indicate that it can be used (especially, the ao grouping) as part of the preconfiguration mentioned in this note. 

I do not know what it means to have TCP-AO parameters pre-configured. Is the suggestion that values such as send-id and recv-id are pre-configured before initiating TCP-AO? 

In our model, TCP-AO specific parameters exist in the model as part of the per connection parameters, and can be used to populate the KeyID for the AO option.

@michael-scharf, can you suggest what text you had in mind for this. Thanks.

As discussed on the OPSAWG list, the assumption in the l3nm model is that the key-chain includes TCP-AO-specific parameters, such as send-id and recv-id. That would require additions to RFC 8177, such as an update to RFC 8177. Doing that in a TCPM document may not be doable, as TCPM clearly does not own RFC 8177.

I'll come up with specific text soon-ish.

This should be addressed in #68.

I believe this issue can be closed.