COMMENT from Éric Vyncke

# Éric Vyncke, INT AD, comments for draft-ietf-tcpm-yang-tcp-07
CC @evyncke

Thank you for the work put into this document.

Please find below some non-blocking COMMENT points (but replies would be
appreciated even if only for my own education), and some nits.

Special thanks to Yoshifumi Nishidar for the shepherd's detailed write-up
including the WG consensus even if it lacks the justification of the intended
status and uses an unusual template.

I hope that this helps to improve the document,

Regards,

-éric

## COMMENTS

### Section 1

```
   As such, TCP is implemented on network
   elements that can be configured via network management protocols such
   as NETCONF [RFC6241] or RESTCONF [RFC8040].
```
AFAIK, NETCONF & RESTCONF can also be used to monitor/collect statistics. So
"configured" seems rather limited.

### Section 1 YANG usefulness

I wonder whether the paragraph containing: `Moreover, many existing TCP/IP
stacks do not use YANG data models.` really brings any value to this document.

### Section 1, orthogonal or not ?

```
   This specification is orthogonal to the Management Information Base
   (MIB) for the Transmission Control Protocol (TCP) [RFC4022].  The
   basic statistics defined in this document follow the model of the TCP
   MIB.
```
Is the model is based on the MIB, can it really be orthogonal to it ?

## NITS

### listner ?

Is there a typo in "listner" ?

### Section 3.1

Perhaps a rendering issue, but "TCP-AO TCP-AO" is probably wrong ;-)

## Notes

This review is in the ["IETF Comments" Markdown format][ICMF], You can use the
[`ietf-comments` tool][ICT] to automatically convert this review into
individual GitHub issues.

[ICMF]: https://github.com/mnot/ietf-comments/blob/main/format.md
[ICT]: https://github.com/mnot/ietf-comments

Fixed by PR #112